<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password email</title>
  </head>
  <body>
    <h1 style="color:#9be1a0;" size="20">Hello, User!</h1>
    <p style="color: #000000;">
      We have received a request to reset the password for your account on our
      website. If you have not submitted this request, please ignore this email.

      To reset your password, please visit the following link:
    </p>
    <p style="color: #000000; font-size: 18px;">Click <a href="{{link}}">Link to reset password</p>
      <p style="color: #000000;">This link will be active for 5 min. If you fail to use the
 link within this period, you will have to request a password reset again.</p>
  </body>
</html>

